%h1
  Wikis

%table
  %tbody
    - @wikis.each do |wiki|
      %tr
        %td
          = link_to (markdown wiki.title), controller: "wikis", action: "show", id: wiki

%p
  = button_to "New Wiki", new_wiki_path, method: :get

